@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *::before, *::after {
    box-sizing: border-box;
    --content-one: #1f2937;
    --content-two: #fff;
    --content-three: #E5e7eb;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

navbar {
    width: 100%;
    height: auto;
    padding: 20px 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    color: #333;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.list li a {
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: .3s;
}

.list li a:hover {
    color: #eee;
    background-color: #333;
    box-shadow: 0 0 5px #aaa;
}

.list li a:visited {
    color: inherit;
    background-color: #ddd;
}

.list li a:visited:hover {
    color: #eee;
    background-color: #333;
}

.main {
    height: 100%;
    margin-top: 52px;
}

.sections {
    display: flex;
    padding: 40px 200px;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

footer {
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #333;
}

.big {
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #fff;
    transition: .5s;
}

.text {
    font-size: 20px;
    display: block;
    width: 300px;
    color: #fff;
}

h1 {
    padding: 0;
}

.beat-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.beat-cont {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 160px;
}

.beat {
    width: 160px;
    height: 160px;
    border: 4px solid blue;
    transition: .3s;
}

.beat:hover {
    transform: scale(1.1);
}

.one {
    background-color: var(--content-one);
}

.two {
    background-color: var(--content-two);
    justify-content: center;
    flex-direction: column;
}

.three {
    background-color: var(--content-three);
}

.black {
    color: #000;
    transition: .3s;
}

.beat:hover~.black {
    transform: translateY(10px);
}